@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

::-webkit-scrollbar {
   width: 15px;
}

::-webkit-scrollbar-track {
   background: rgb(74, 72, 72);
}

::-webkit-scrollbar-thumb {
   background: #eab308;
   cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
   background: #ca8a04;
}

* {
   font-family: "Noto Serif", serif;
}

a {
   text-decoration: none;
}

.carousel-item img {
   object-fit: cover;
   object-position: top;
   height: 80vh;
   overflow: hidden;
}

.card-img-top {
   height: 300px;
   width: auto;
}

.card {
   width: 100%;
   height: 100%;
}

.pic-box {
   position: relative;
}