{% load static %}

<!doctype html>
<html lang="en">

   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="shortcut icon" href="{% static 'images/tastee.png' %}" type="image/x-icon">
      <title>Tastee.lk | {% block title %}{% endblock title %}</title>
      <!-- link bootstrap icon -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
      <!-- link style sheet -->
      <link rel="stylesheet" href="{% static 'css/index.css' %}">
      <!-- link remix icons -->
      <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
      <!-- link tailwind css -->
      <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
   </head>

   <body class="bg-gray-300 pt-16">

      {% include 'shop/inc/navbar.html' %}

      {% block content %}
      {% endblock content %}

      {% block scripts %}
      {% endblock scripts %}

      {% include 'shop/inc/footer.html' %}

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQQqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous">
      </script>

   </body>

</html>